.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    color: rgb(88, 88, 88);
    background-color: rgb(183, 183, 183);
  }
  
  .iconFooter {
      display: flex;
      justify-content: space-between;
      gap: 80%;
  }