.resumeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.resumeTitle {
    font-size: 3em;
    margin: 2% 0 2% 0 2%;
}

.resumePdf {
    width: 80%;
    height: 70vh;
    border: 0px;
    border-radius: 10px;
    overflow: hidden;
    flex-grow: .7;
}